################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/build
/build_roi_param_verify
/build_roi_param_no_tests
/.worktrees
/managed
/resources/icons
